# Ex1 Use data from Danmarks Statistik - Databanken

## With data aggregation and data visualization answer the following questions:
1. What is the change in pct of divorced danes from 2008 to 2020?
2. Which of the 5 biggest cities has the highest percentage of 'Never Married'?
3. Show a bar chart of changes in marrital status in Copenhagen from 2008 till now
4. Show a bar chart of 'Married' and 'Never Married' for all ages in DK (Hint: 2 bars of different color)

In [5]:
# What is the change in pct of divorced danes from 2008 to 2020?
# divorced men in 2008
divorced_men_2008 = 186566
# divorced men in 2020
divorced_men_2020 = 236132

difference = divorced_men_2020 - divorced_men_2008
dif_in_percentage = (difference/divorced_men_2008)*100
print(dif_in_percentage)
# 26.56% increase in divorced men

26.56754178146072

In [5]:
import pandas as pd
import requests

In [16]:
# 5B
url = 'https://api.statbank.dk/v1/data/FOLK1A/CSV?valuePresentation=CodeAndValue&delimiter=Semicolon&Tid=2020K1&CIVILSTAND=TOT%2CU&K%C3%98N=TOT&OMR%C3%85DE=101%2C851%2C561%2C461%2C751&ALDER=IALT'
data = pd.read_csv(url,sep=';')
data
not_married_pct = {data['OMRÅDE'][not_married][4:]:data['INDHOLD'][not_married]/data['INDHOLD'][all_people]*100 for not_married, all_people in zip(range(5,10),range(0,5))}
not_married_pct
#result = {}
#for not_married, all_people in zip(range(5,10),range(0,5)):
    #pct_not_married = data['INDHOLD'][not_married]/data['INDHOLD'][all_people]*100
    #city = data['OMRÅDE'][not_married][4:]
    #result[city] = pct_not_married
sorted(not_married_pct,key=not_married_pct.get, reverse=True)

['København', 'Aarhus', 'Odense', 'Aalborg', 'Esbjerg']

In [44]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [41]:
import pandas as pd

In [58]:
df = pd.read_csv('05-Ex1.2.csv')
df.head()

       OMRÅDE;KØN;CIVILSTAND;TID;INDHOLD
0  Hele landet;Mænd;Ugift;2020K1;1513419
1     København;Mænd;Ugift;2020K1;209722
2         Odense;Mænd;Ugift;2020K1;59193
3        Aalborg;Mænd;Ugift;2020K1;63634
4        Esbjerg;Mænd;Ugift;2020K1;29739